.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #16181b;
    height: 10vh;
    width: 100%;
}
.header__menu{
    display: none;
}
.header__logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
    /* background-color: red; */
}
form{
    flex: 0.6;
    display: flex;
    padding: 0.1rem;
    margin: 0 1rem;
    border-radius: 3px;
    border: 1.2px solid;
    background-color: #121417;
}
form input{
    width: 100%;
    border: none;
    font-weight: 500;
    background: transparent;
    padding: 0.3rem;
    color: #b1bdb4;
}
form input:focus{
    outline: none;
}
form button{
    padding: 0 1.25rem;
    color: #b1bdb4;
    background: transparent;
    border: none;
}
form button:focus{
    border: none;
}
.header__icons{
    flex: 0.15;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 5px;
}


@media (max-width: 520px){
    .header{
        padding: 1rem;
    }
    form{
        flex: 1;
    }
    .header__menu{
        display: block;
    }
    .header__logo{
        display: none;
    }
    .header__icons >*:not(.avatar){
        display: none;
    }
}