.CategoriesBar{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}
.CategoriesBar::-webkit-scrollbar{
    width: 0px;

}
.CategoriesBar span{
    margin-right: 1.5rem;
    padding: 0.5rem;
    white-space: nowrap;
    border: 1px solid #b1bdb4;
    border-radius: 999px;
}
.CategoriesBar span:hover{
    background: #374a59 ;
}
.CategoriesBar span.active{
    color: #fff;
    background: #606060;
    border-color: #4c4c4c;
}